{% extends "Layout.html" %}
{% block title %}Delivery{% endblock %}
{% block body %}


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary rounded" data-toggle="modal" data-target="#exampleModal">Add delivery</button>

      <!-- Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new delivery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                <form  action=" " method="POST">

                    <div class="form-group">
                        <label for="exampleInput">Company / Retailer</label>
                        <input type="text" class="form-control" name="company" id="exampleInput" placeholder="Company / Retailer">
                    </div>

                    <div class="form-group">
                        <label for="exampleInput1">Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="exampleInput1" placeholder="Quantity">
                    </div>

                    <div class="form-group">
                        <label for="exampleInput2">Date</label>
                        <input type="text" class="form-control" name="date" id="exampleInput2" placeholder="Date (yyyy/mm/dd)">
                    </div>

 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary rounded">Save changes</button>
                </div>
                </form>
                </div>
            </div>
        </div>
        <br><br>

        <table class="table table-striped" id="dataTable">
            <thead>
          
              <tr>
                <th scope="col">Company / Retailer</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
          
            </thead>

            <tbody>
              {% for deliver in delivery.items %}
                <tr>
                  <th>{{deliver.company}}</th>
                  <td>{{deliver.quantity}}</td>
                  <td>{{deliver.date}}</td>
                  <td> <a href="/updatedelivery/{{deliver.delivery_id}}"><button type="button" class="btn btn-primary btn-circle btn-sm"> <i class="fa fa-edit"></i></button></a>
                      <a data-toggle="modal" data-target="#deleteModal{{deliver.delivery_id}}"><button type="button" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-trash-alt"></i></button></a>
                  </td>
                </tr>

               <!-- delete model -->
                <div class="modal fade" id="deleteModal{{deliver.delivery_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Delivery?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_delivery', delivery_id=deliver.delivery_id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            {%endfor%}
              </tbody>
            </table>

            {% for page_num in delivery.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page_num %}
              {% if delivery.page == page_num %}
              <a class="btn btn-info  mb-4" href="{{ url_for('delivery', page=page_num)}}">{{page_num}}</a>
              {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('delivery', page=page_num)}}">{{page_num}}</a>
              {% endif %} 
            {% else %}
              ...
            {% endif %}
            {% endfor %}
    


   </div>
  </div>

  {% endblock %}