{% extends "Layout.html" %}
{% block title %}Sales Repost{% endblock %}
{% block body %}

  <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary rounded" data-toggle="modal" data-target="#exampleModal">Add sales report</button>

      <!-- Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new sales report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">

                    <form  action=" " method="POST">

                        <div class="form-group">
                            <label for="exampleInput2">Date</label>
                            <input type="text" class="form-control" name="date" id="exampleInput2" placeholder="Date">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput">Sales</label>
                            <input type="text" class="form-control" name="sales" id="exampleInput" placeholder="Net Sales">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput1">Refunded</label>
                            <input type="text" class="form-control" name="refunded" id="exampleInput1" placeholder="Refunded">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput1">Discounts</label>
                            <input type="text" class="form-control" name="discounts" id="exampleInput1" placeholder="Discounts">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary rounded">Save changes</button>
                </div>
                </form>
                </div>
            </div>
        </div>
        <br><br>

        <table class="table table-striped" id="dataTable">
            <thead>
          
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Sales</th>
                <th scope="col">Refunded</th>
                <th scope="col">Discounts</th>
                <th scope="col">Action</th>
              </tr>
          
            </thead>

            <tbody>
              {% for sale in sales %}
                <tr>
                  <th>{{sale.date}}</th>
                  <td>{{sale.sales}}</td>
                  <td>{{sale.refunded}}</td>
                  <td>{{sale.discounts}}</td>    
                  <td>
                     <a href="#"><button type="button" class="btn btn-success btn-circle btn-sm"><i class="fas fa-print"></i></button></a>
                     <a href="/updatesalesreport/{{sale.sales_id}}"><button type="button" class="btn btn-primary btn-circle btn-sm"> <i class="fa fa-edit"></i></button></a>
                      <a data-toggle="modal" data-target="#deleteModal{{sale.sales_id}}"><button type="button" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-trash-alt"></i></button></a>
                  </td>
                </tr>

               <!-- delete model -->
                <div class="modal fade" id="deleteModal{{sale.sales_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Sales Report?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_salesreport', sales_id=sale.sales_id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
    
{% endblock %}