{% extends "Layout.html" %}
{% block title %}Stores{% endblock %}
{% block body %}
  <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary rounded" data-toggle="modal" data-target="#exampleModal">Add store</button>

      <!-- Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                <form  action=" " method="POST">

                    <div class="form-group">
                        <label for="exampleInput2">Type</label>
                        <input type="text" class="form-control" name="type" id="exampleInput2" placeholder="Type">
                    </div>

                    <div class="form-group">
                        <label for="exampleInput">Name</label>
                        <input type="text" class="form-control" name="name" id="exampleInput" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInput1">Address</label>
                        <input type="text" class="form-control" name="address" id="exampleInput1" placeholder="Address">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary rounded">Save changes</button>
                </div>
                </form>
                </div>
            </div>
        </div>
        <br><br>

        <table class="table table-striped" id="dataTable">
            <thead>
          
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
              </tr>
          
            </thead>

            <tbody>
              {% for store in stores.items %}
                <tr>
                  <th>{{store.type}}</th>
                  <td>{{store.name}}</td>
                  <td>{{store.address}}</td>
                  <td> <a href="/updatestore/{{store.store_id}}"><button type="button" class="btn btn-primary btn-circle btn-sm"> <i class="fa fa-edit"></i></button></a>
                      <a data-toggle="modal" data-target="#deleteModal{{store.store_id}}"><button type="button" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-trash-alt"></i></button></a>
                      <a href="/store/select/{{store.store_id}}"><button type="button" class="btn btn-select btn-circle btn-sm"> SELECT</button></a>
                  </td>
                </tr>

               <!-- delete model -->
                <div class="modal fade" id="deleteModal{{store.store_id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Store?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_store', store_id=store.store_id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>

            {% for page_num in stores.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page_num %}
              {% if stores.page == page_num %}
              <a class="btn btn-info  mb-4" href="{{ url_for('stores', page=page_num)}}">{{page_num}}</a>
              {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('stores', page=page_num)}}">{{page_num}}</a>
              {% endif %} 
            {% else %}
              ...
            {% endif %}
            {% endfor %}
    

{% endblock %}