{% extends "Layout.html" %}
{% block title %}Staff{% endblock %}
{% block body %}

<form  action=" " method="POST">

  <div class="form-group">
      <label for="exampleInput">First Name</label>
      <input type="text" class="form-control" name="firstname" id="exampleInput" value="{{staff.first_name}}" required="">
  </div>

  <div class="form-group">
      <label for="exampleInput1">Last Name</label>
      <input type="text" class="form-control" name="lastname" id="exampleInput1" value="{{staff.last_name}}" required="">
  </div>

  <div class="form-group">
      <label for="exampleInput2">Job</label>
      <input type="text" class="form-control" name="job" id="exampleInput2" value="{{staff.job}}" required="">
  </div>

  <div class="form-group">
          <label for="exampleInput3">Start Date</label>
          <input type="text" class="form-control" name="startdate" id="exampleInput3" value="{{staff.start_date}}" required="">
  </div>

  <div class="form-group">
      <label for="exampleInput3">End Date</label>
      <input type="text" class="form-control" name="enddate" id="exampleInput3" value="{{staff.end_date}}" required="">
  </div>

  <div class="">
    <button type="submit" class="btn btn-success">Update</button>
  </div>

</form>

 {% endblock %}