{% extends "Layout.html" %}
{% block title %}Delivery{% endblock %}
{% block body %}
  <form  action=" " method="POST">

    <div class="form-group">
        <label for="exampleInput">Company / Retailer</label>
        <input type="text" class="form-control" name="company" id="exampleInput" value="{{delivery.company}}" required="">
    </div>

    <div class="form-group">
        <label for="exampleInput1">Quantity</label>
        <input type="text" class="form-control" name="quantity" id="exampleInput1" value="{{delivery.quantity}}" required="">
    </div>

    <div class="form-group">
        <label for="exampleInput2">Date</label>
        <input type="text" class="form-control" name="date" id="exampleInput2" value="{{delivery.date}}" required="">
    </div>

    <div class="">
      <button type="submit" class="btn btn-success" >Update</button>
    </div>

  </form>
{% endblock %}